<div layout="row" layout-xs="column">
    <div flex>
        <mat-card>
            <mat-card-title>Dashboard</mat-card-title>
            <mat-card-subtitle>Temperature</mat-card-subtitle>
            <mat-card-content>
                <p>30°C</p>
            </mat-card-content>
            <mat-card-subtitle>Humidity</mat-card-subtitle>
            <mat-card-content>
                <p>66%</p>
            </mat-card-content>
            <mat-card-subtitle>Grow Day</mat-card-subtitle>
            <mat-card-content>
                <p>35</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>