<div class="container">
  <div class="row">
    <div class="col-12 pt-3">
      <h4>Devices</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-2 pt-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="text-center">
                    <p>Light</p>
                    <i-bs name="lightbulb"
                                width="50"
                                height="50">
                    </i-bs>
                </div>
                
                <div class="form-check form-switch">
                    <!-- <label class="form-check-label" for="flexSwitchCheckDefault">Light</label> -->
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                  </div>
            </div>
        </div>
    </div>
    <div class="col-2 pt-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="text-center">
                    <p>Humidifier</p>
                    <i-bs name="cloud-rain"
                                width="50"
                                height="50">
                    </i-bs>
                </div>
                <div class="form-check form-switch">
                    <!-- <label class="form-check-label" for="flexSwitchCheckDefault">Humidifier</label> -->
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                  </div>
            </div>
        </div>
    </div>
    <div class="col-2 pt-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="text-center">
                    <p>Fan</p>
                    <i-bs name="fan"
                                width="50"
                                height="50">
                    </i-bs>
                </div>
                <div class="form-check form-switch">
                    <!-- <label class="form-check-label" for="flexSwitchCheckDefault">Fan</label> -->
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                  </div>
            </div>
        </div>
    </div>
    <div class="col-2 pt-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="text-center">
                    <p>Extraction Fan</p>
                    <i-bs name="thermometer-snow"
                                width="50"
                                height="50">
                    </i-bs>
                </div>
                <div class="form-check form-switch">
                    <!-- <label class="form-check-label" for="flexSwitchCheckDefault">Extraction Fan</label> -->
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                  </div>
            </div>
        </div>
    </div>
    <div class="col-2 pt-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="text-center">
                    <p>Air Pump</p>
                    <i-bs name="wind"
                                width="50"
                                height="50">
                    </i-bs>
                </div>
                <div class="form-check form-switch">
                    <!-- <label class="form-check-label" for="flexSwitchCheckDefault">Air Pump</label> -->
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                  </div>
            </div>
        </div>
    </div>
    <div class="col-2 pt-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="text-center">
                    <p>Heating Pad</p>
                    <i-bs name="thermometer-sun"
                                width="50"
                                height="50">
                    </i-bs>
                </div>
                <div class="form-check form-switch">
                    <!-- <label class="form-check-label" for="flexSwitchCheckDefault">Heating Pad</label> -->
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                  </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-9 pt-3">
      <h4>Manage</h4>
    </div>
    <div class="col-3 pt-3">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary" (click)="openModal(addDevice)">Add Device</button>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 pt-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Status</th>
                        <th scope="col">Pin</th>
                        <th scope="col">Keep Active</th>
                        <th scope="col">Edit</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Grow Light</th>
                        <td>Light</td>
                        <td>Off</td>
                        <td>20</td>
                        <td>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            </div>
                        </td>
                        <td>Edit</td>
                      </tr>
                      <tr>
                        <th scope="row">Fan</th>
                        <td>Fan</td>
                        <td>On</td>
                        <td>21</td>
                        <td>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            </div>
                        </td>
                        <td>Edit</td>
                      </tr>
                      <tr>
                        <th scope="row">Humidifier</th>
                        <td>Humidifier</td>
                        <td>On</td>
                        <td>22</td>
                        <td>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            </div>
                        </td>
                        <td>Edit</td>
                      </tr>
                      <tr>
                        <th scope="row">Extraction Fan</th>
                        <td>Extraction Fan</td>
                        <td>On</td>
                        <td>23</td>
                        <td>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            </div>
                        </td>
                        <td>Edit</td>
                      </tr>
                      <tr>
                        <th scope="row">Air Pump</th>
                        <td>Air Pump</td>
                        <td>On</td>
                        <td>24</td>
                        <td>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            </div>
                        </td>
                        <td>Edit</td>
                      </tr>
                      <tr>
                        <th scope="row">Heating Pad</th>
                        <td>Heating</td>
                        <td>On</td>
                        <td>25</td>
                        <td>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            </div>
                        </td>
                        <td>Edit</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
  </div>
</div>

<ng-template #addDevice>
   <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
         <span aria-hidden="true">×</span>
      </button>
   </div>
   <div class="modal-body">
      This is a sample modal dialog box.
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
   </div>
</ng-template>